html,
body {
    background-image: url("images/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#ville {
    text-transform: capitalize;
}

#temperature {
    font-size: 4em;
}

#container {
    border: solid 2px black;
}

